<!DOCTYPE html>
<html>
<head>
  <title>Showing Article Detail</title>
  <!-- Add Bootstrap CSS CDN link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">Showing Article Detail</h1>
      <p class="card-text"><strong>Title: </strong><%= @article.title %></p>
      <p class="card-text"><strong>Description: </strong><%= @article.description %></p>
      <p class="card-text">by ~ <%= @article.user.username if @article.user %></p>
      <div class="btn-group">
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary mr-2' %>
        <%= link_to "Delete", article_path(@article), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger mr-2' %>
        <%= link_to 'Home', articles_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>

<!-- Add Bootstrap JS and jQuery CDN links -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
